body{
    display:grid;
    border: 1px solid black;
    width:75%;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
}

.heading{
    align-content: flex-start;
    width: auto;
    border: 3px solid black;
    grid-row: 1;
    grid-column: 1/4;
}

.main{
    border: 3px solid black;
    justify-content: flex-start;
    width: auto;
}
.sidenav{
    border: 3px solid black;
    grid-row: 2/4;
    grid-column: 3/4;
}
.footer{
    align-items: flex-end;
}
.LI-profile-badge{
    align-content: flex-end;
}